<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CCED8701EFEACC4007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCED8801EFEACE7007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCED88D1EFEACF3007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCED89A1EFEAD05007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCED8A71EFEAD16007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCED8B41EFEAD1E007A648C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
